<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.godzy.mtp_live">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="mtp_live"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:multiArch="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="p"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:fullBackupContent="true">
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            tools:replace="android:launchMode"
            android:launchMode="standard" />
    </application>

</manifest>
